{% extends 'layouts/base.html' %}
{% set page_title = 'Contact' %}
{% block body %}

    <div class="row">
        <div class="col-md-10">
            <h5>Contact</h5>
            <br>
            <table class='table table-striped'>
                <tr>
                    <th>Resource</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone</th>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
        </div>
    </div>

{% endblock %}
