{% extends 'layouts/base.html' %}
{% set page_title = 'Guide' %}
{% block body %}

<div class="row" id='guide'>
    <div class="col-md-9">
        <h3>The Guide</h3>

        <section id="quickstart_guide" class="group">
            <h5>Quickstart</h5>
            <div class='subgroup'>
                <div class='guide-text'>
                    There are a few things to get do before you get started.
                    <ol>
                        <li></li>
                    </ol>
                </div>
            </div>
        </section>

</div>

{% endblock %}
