{% extends 'layouts/base.html' %}

{% set page_title = 'Confirm' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        <div class='text-center'>
            <h3>Send Campaign</h3>
            <form action="{{ url_for('campaign.submit_dispatch', campaign_id=campaign.id) }}" method="post" role="form">
                {{ form.hidden_tag() }}
                {% if display_time %}
                    {{ form.send_at }}
                    {{ form.submit_send_at(class="btn btn-info", value='Send at ' + display_time) }}
                {% else %}
                    {{ form.submit_now(class="btn btn-info") }}
                {% endif %}
            </form>
        </div>
        <br>
        <a href="{{ url_for('campaign.edit', campaign_id=campaign.id) }}">Back to campaign</a>
    </div>
</div>
{% endblock %}
