{% extends 'layouts/base.html' %}

{% set page_title = 'Success' %}

{% block body %}
<div class="container">
    <div class="jumbotron">
        {% if scheduled == '1' %}
            <h3>Success!</h3>
            Emails will be sent at the selected date and time.
        {% else %}
            <h3>Success! Emails queued for sending.</h3>
            This could take from a few seconds to complete for small batches to a few hours for large ones.
        {% endif %}
        <br><br>
        <a href=" {{ url_for('dispatcher.index') }}" class='btn btn-info'>Go to Dispatcher</a>
    </div>
</div>
{% endblock %}
